#about{
    background-color: #1ABC9C;
}

.line-left{
    width: 150px;
    height:4px;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}
.line-right{
    width: 150px;
    height:4px;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}
